<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Novel - Register</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href=static/register/css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="static/register/css/style.css"/>
</head>
<body class="form-v9">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
			<form class="form-detail" action="#" method="post">
				{% block title %} Register {% endblock %}
  <!-- Main Content -->
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <button style="background-color:#6202e5; color:white" class="btn btn-outline-info" type="submit">Sign Up</button>
            </form>
            <br>
            If you already have an account <a href="/Login" target="blank"><strong>Login</strong></a> instead.
            {% if messages %}
                {% for message in messages %}
                  <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
                {% endfor %}
            {% endif %}
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success'%}
                            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
                        {% elif message.tags == 'info'%}
                            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
                        {% elif message.tags == 'warning'%}
                            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
                        {% elif message.tags == 'error'%}
                            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
                    {% endif %}
                {% endfor %}
    {% endif %}
        </div></div></div></div>
    {% endblock %}
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>